body {
    width: 900px;
    background-image: url('img/fundo.png');
    background-color: #d2d2c1;
    font: 16px Arial, Helvetica, Sans-serif;
}

a {
    text-decoration: none;
    color: #4b566a;
    font-weight: bold;
    padding: 5px;
}

footer {
    text-align: center;
    font-weight: bold;
}

h1{
    color: #828271;
    font-size: 1.2em;
}


/*----------------------------------------------------------------*/


#navbar {
    padding: 15px;
    color: #525264;
    font-weight: 100;
    background-color: #D9D8C2;
}

#conteudo-principal {
    background: #e8e8d9;
    padding: 10px;
}

#contato{
    padding-top: 15px;
}

/*----------------------------------------------------------------*/


.foto-campanha-publicitaria{
border: 10px solid #c3c3ae;
}

.texto-contato{
    font-weight: bold;
}